html {
    background: url(/img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

body {
    height: 100%;
    display : flex;
    align-items : center;
    justify-content: center;
}

#time {
    color: aliceblue;
    font-size: 14em;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    margin: auto;
    min-width: 100px;
    min-height: 100px;
    display : flex;
    align-items : center;
    justify-content: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}